body{
    margin:0
}
.top{
   background-color:red;
   border: solid 30px;
   height: 200;
   width:200;
}
.middle{
   height: 200px;
   width:200px;
   background-color:blue;
   margin-left: 260px;

   border: solid 20px;
}
.bottom{
      height: 200px;
      width:200px;
      background-color: green;
      margin-left:500;
      border: solid 10px;
}